.input-primary{
    width: 97%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),
    linear-gradient(0deg, rgba(80, 84, 87, 0.06), rgba(80, 84, 87, 0.06));
}

.input-forms{
    width: 97%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #e5e5e5;
    font-weight: 700;
    padding-left: 10px;
}

.input-search{
    position: relative;
}

.input-search > img {
    position: absolute;
    padding-left: 5px;
    padding-top: 10px;
    height: 18px;
    /* margin: 0 2em; */
}

.input-search:hover > svg {
    color: #1b2975;
}

::-webkit-input-placeholder { /* Edge */
    font-weight: 700;
    color: black;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    font-weight: 700;
    color: black;
  }
  
  ::placeholder {
    font-weight: 500;
    color: black;
    padding-left: 30px;
    text-align:start;
    font-size: 13px;
  }
